<template>
  <div>
    <section id="mainContent" class="main-content flex-space-between">
      <div class="flex-column">
        <h2>Надежные помощники в уходе за вашим питомцем</h2>
        <p>Мы стремимся предложить лучшее лечение для вашего животного.</p>
        <router-link to="/" class="appointment">
          Записаться на прием
        </router-link>
      </div>
      <img src="@/assets/img/cat.png" alt="">
    </section>

    <section id="serviceCategories" class="flex-column flex-center service-categories">
      <h2>Категории предоставляемых услуг</h2>
      <div class="services flex-space-between flex-align-center">
        <span>вакцинация</span>
        <span>дерматология</span>
        <span>Диагностика</span>
        <span>кардиология</span>
        <span>чипирование</span>
      </div>
    </section>

    <section id="priceList" class="price-list">
      <h2>прайс-лист</h2>
      <div class="price-wrap flex-column flex-align-center">
        <service-category
            v-for="(service, id) in testServices"
            :key="`service-${id}`"
            :service-category="service"
        />
      </div>
    </section>

    <span class="scroll" @click="scrollToTop">
      <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.5 4.5L5 1L1.5 4.5M8.5 10.5L5 7L1.5 10.5H8.5Z" stroke="#60A0FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
  </div>
</template>

<script>

import ServiceCategory from "@/components/ServiceCategory";

export default {
  name: 'HomeView',

  components: {
    ServiceCategory
  },

  data(){
    return{
      testServices: [
        {
          name: 'Узи',
          active: false,
          list: [
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
          ]
        },
        {
          name: 'РЕНТГЕН',
          active: false,
          list: [
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
          ]
        },
        {
          name: 'АНАЛИЗЫ',
          active: false,
          list: [
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
            {
              name: 'test',
              price: 100
            },
          ]
        },
      ]
    }
  },

  methods:{
    scrollToTop() {
      const header = document.querySelector('#header')
      header.scrollIntoView({behavior: 'smooth'});
    }
  }
}
</script>

<style scoped lang="scss">

.scroll{
  position: fixed;
  bottom: 3%;
  right: 3%;
  border: 1px solid $blue;
  border-radius: 50%;
  width: sizeAuto(40);
  height: sizeAuto(40);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg{
    width: sizeAuto(17);
    height: auto;
  }
}

section{
  padding: sizeAuto(100) 0;

  &:last-child{
    padding: sizeAuto(230) 0 sizeAuto(80) 0;
  }
}

.main-content {
  animation-name: show;
  animation-duration: 1s;

  div.flex-column{
    max-width: sizeAuto(700);
  }

  img{
    width: sizeAuto(700);
  }

  h2 {
    @include titleFont;
  }

  p {
    @include textFont;
    margin: sizeAuto(45) 0;
  }

  .appointment{
    cursor: pointer;
    background: none;
    color: $blue;
    margin: 0 auto 0 0;
    font-size: sizeAuto(18);
    font-weight: 600;
    padding: sizeAuto(20) sizeAuto(40);
    border-radius: 20px;
    border: 1px solid $blue;
    transition: .2s;

    &:hover{
      background: $blue;
      color: #fff;
    }
  }

}

.service-categories{
  padding: sizeAuto(100) 0 sizeAuto(50) 0;

  .services{
    width: 100%;
    margin: sizeAuto(190) 0;

    span{
      width: sizeAuto(260);
      height: sizeAuto(260);
      display: flex;
      align-items: center;
      justify-content: center;
      background: $blue;
      text-transform: uppercase;
      font-size: sizeAuto(25);
      font-weight: 600;
      color: #ffffff;
      border-radius: 50%;
    }
  }

  h2{
    @include titleFont;
  }

  .service-btn{
    background: none;
    border: 1px solid $blue;
    padding: sizeAuto(20) sizeAuto(40);
    color: $blue;
    border-radius: 20px;
    font-size: sizeAuto(24);
    font-weight: 500;
    transition: .2s;

    &:hover{
      background: $blue;
      color: #ffffff;
    }
  }

}

section.price-list{
  padding: sizeAuto(50) 0;
  text-align: center;

  h2{
    @include titleFont;
    margin-bottom: sizeAuto(48);
    text-transform: uppercase;
  }
}

</style>