<template>
  <section>
    <transition name="fade">
      <form class="login" v-if="formCheck">
        <h2>Вход</h2>
        <div class="login-item">
          <p>Лоин</p>
          <input type="text" v-model="log.login" required placeholder="Введите логин">
        </div>
        <div class="login-item">
          <p>Пароль</p>
          <input type="password" v-model="log.password" required placeholder="Введите пароль">
        </div>
        <button type="submit">
          Войти
        </button>
      </form>
      <form class="register" v-else>
        <h2>Регистрация</h2>
        <div class="register-wrap flex-column">
          <div class="login-item">
            <p>E-mail</p>
            <input type="email" v-model="reg.login" required placeholder="Введите e-mail">
          </div>
          <div class="login-item">
            <p>Пароль</p>
            <input type="password" v-model="reg.password" required placeholder="Введите пароль">
          </div>
          <div class="login-item">
            <p>Подтверждение пароля</p>
            <input type="password" v-model="reg.conf_password" required placeholder="Повторите пароль">
          </div>
          <div class="login-item">
            <p>Имя</p>
            <input type="text" v-model="reg.name" required placeholder="Введите имя">
          </div>
          <div class="login-item">
            <p>Фамилия</p>
            <input type="text" v-model="reg.surname" required placeholder="Введите фамилию">
          </div>
          <div class="login-item">
            <p>Отчество</p>
            <input type="text" v-model="reg.mid_name" placeholder="Введите отчество">
          </div>
          <div class="login-item">
            <p>Номер телефона</p>
            <input type="tel" v-model="reg.telephone" required placeholder="Введите номер телефона">
          </div>
          <div class="login-item">
            <p>Адрес</p>
            <input type="text" v-model="reg.address" required placeholder="Введите адрес">
          </div>
        </div>
        <button type="submit">
          Регистрация
        </button>
      </form>
    </transition>
    <div class="reg-btn">
      <transition name="fade">
        <div class="reb-btn-item" v-if="formCheck">
          <p>Нет аккаунта?</p>
          <span @click="formCheck = false">Регистрация</span>
        </div>
        <div class="reb-btn-item" v-else>
          <p>Есть аккаунт?</p>
          <span @click="formCheck = true">Войти</span>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>

export default {
  name: "LoginPage",
  data(){
    return{
      formCheck: true,
      log: {
        login: '',
        password: ''
      },
      reg: {
        login: '',
        password: '',
        conf_password: '',
        name: '',
        surname: '',
        mid_name: '',
        passport: '',
        telephone: '',
        address: '',
        approval: false,
      }
    }
  },
}

</script>

<style scoped lang="scss">

section{
  margin: 0 auto;
  width: 60%;
  padding: sizeAuto(48) 0;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: show;
  animation-duration: 1s;

  h2{
    @include titleFont;
    color: $blue;
    margin-bottom: sizeAuto(32);
    text-transform: uppercase;
    text-align: center;
  }

  .login-item{
    width: 40%;
    margin: sizeAuto(16) 0;

    p{
      @include textFont;
      margin-bottom: sizeAuto(16);
    }

    label{
      @include textFont;
    }

    input{
      background: none;
      border: 1.5px solid #6396E3;
      padding: sizeAuto(8) sizeAuto(16);
      color: #6396E3;
      width: 100%;
      border-radius: 10px;
      transition: .2s;
      font-size: sizeAuto(18);

      &::placeholder{
        color: #6396E3;
      }
    }

    input[type=checkbox]{
      width: auto;
      margin-right: sizeAuto(8);
    }
  }

  button{
    margin: sizeAuto(16) 0 0 0;
    width: sizeAuto(250);
    padding: sizeAuto(10) 0;
    cursor: pointer;
    background: none;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    @include textFont;
    transition: .2s;

    &:hover{
      background: $blue;
      border-color: $blue;
      color: #ffffff;
    }
  }
}

.register-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reg-btn{
  margin-top: sizeAuto(32);

  .reb-btn-item{
    display: flex;
    align-items: center;
    justify-content: center;
    @include textFont;
    @include deselection;

    span{
      margin-left: sizeAuto(32);
      color: $blue;
      cursor: pointer;
    }
  }
}

</style>