<template>
  <section>
    <h2>Список предоставляемых услуг</h2>
    <div class="service-table flex-column">
      <div class="title flex-space-between">
        <span class="name">Название услуги</span>
        <span class="price">Цена услуги</span>
      </div>
      <div class="body flex-column">
        <div class="service-item flex-space-between" v-for="(item, id) in testData" :key="`service-item-${id}`">
          <span class="name">{{ item.name }}</span>
          <span class="price">{{ item.price }}</span>
        </div>
      </div>
      <div class="pagination">
        <span class="pag" @click="pagination -= 1">« Назад</span>
        <span :class="['pag', {'pag-active': pagination === 1}]" @click="pagination = 1">1</span>
        <span :class="['pag', {'pag-active': pagination === 2}]" @click="pagination = 2">2</span>
        <span :class="['pag', {'pag-active': pagination === 3}]" @click="pagination = 3">3</span>
        <span class="pag" @click="pagination += 1">Вперед »</span>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: "ServicesPage",
  data(){
    return{
      pagination: 1,
      testData: [
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
        {
          name: 'Биохимическое исследование крови',
          price: 180
        },
      ]
    }
  },
  watch:{
    pagination(e){
      if (e >= 3) this.pagination = 3
      if (e <= 1) this.pagination = 1
    }
  }
}

</script>

<style scoped lang="scss">

section{
  padding: sizeAuto(32) 0;

  h2{
    @include titleFont;
    margin-bottom: sizeAuto(32);
  }

  .service-table{
    box-shadow: 0 0 15px #cfcfcf;
    min-height: 70vh;
    width: 100%;
    padding: sizeAuto(16);

    .name{
      width: 60%;
    }
    .price{
      width: 20%;
    }

    .title{
      padding: sizeAuto(16) 0;
      text-align: center;
      color: #172E68;
      border-bottom: 2px solid #172E68;
      font-size: sizeAuto(24);
      font-weight: 600;
    }

    .service-item{
      text-align: center;
      padding: sizeAuto(16) 0;
      @include textFont;
      border-bottom: 1px solid #cfcfcf;

      &:hover{
        background: #efefef;
      }
    }
  }

  .pagination{
    margin: sizeAuto(20) auto;
    display: flex;
    align-items: center;

    .pag{
      @include deselection;
      @include textFont;
      padding: sizeAuto(16);
      color: $blue;
      cursor: pointer;
      border: 1px solid #cfcfcf;
      margin: 0 sizeAuto(8);
      transition: .2s;
      &:hover{
        background: #efefef;
      }
    }

    .pag-active{
      color: #ffffff;
      background: $blue;

      &:hover{
        color: #ffffff;
        background: $blue;
      }
    }
  }
}

</style>