<template>
  <header id="header" class="container flex-space-between">
    <router-link to="/" exact class="logo">
      <span class="blue">Vet</span>
      <span class="uppercase">Clinic</span>
    </router-link>

    <nav class="scroll flex-align-center" v-if="pageId === 'home'">
      <span @click="scrolling(0)">Главная</span>
      <span @click="scrolling(1)">Категории услуг</span>
      <span @click="scrolling(2)">Прайс-лист</span>
    </nav>

    <div class="user">
      <router-link to="/login" class="login-btn">Войти</router-link>
    </div>
  </header>
</template>

<script>
export default {
  name: "MainHeader",
  data() {
    return {
      pageId: this.$route.name,
      scrolled: 0,
      timer: null,
    }
  },

  watch: {
    $route(e) {
      this.pageId = e.name
    }
  },

  methods: {
    scrolling(id) {
      const mainContent = document.querySelector('#mainContent')
      const serviceCategories = document.querySelector('#serviceCategories')
      const priceList = document.querySelector('#priceList')
      switch (id) {
        case 0:
          mainContent.scrollIntoView({behavior: 'smooth'});
          break;
        case 1:
          serviceCategories.scrollIntoView({behavior: 'smooth'});
          break;
        case 2:
          priceList.scrollIntoView({behavior: 'smooth'});
          break;
      }
    }
  }
}

</script>

<style scoped lang="scss">

header {
  padding: sizeAuto(32) 0;

  .logo {
    font-weight: 500;
    font-size: sizeAuto(48);

    .blue {
      color: $blue;
    }

    .uppercase {
      color: $black;
      text-transform: uppercase;
    }
  }

  nav {
    span {
      cursor: pointer;
      @include textFont;
      margin-right: sizeAuto(20);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .user {
    span {
      @include textFont;
    }
  }
}

</style>