<template>
  <article class="flex-column">
    <div class="title flex-space-between" @click="serviceCategory.active = !serviceCategory.active">
      <p>{{ serviceCategory.name }}</p>
      <div class="icon">
        <span :class="['one', {'active-icon' : serviceCategory.active}]"></span>
        <span class="two"></span>
      </div>
    </div>
    <transition name="appearance">
      <div class="body flex-column" v-if="serviceCategory.active">
        <div class="body-item flex-space-between">
          <p>Наименование</p>
          <p>Стоимость</p>
        </div>
        <div class="body-item flex-space-between" v-for="(item, key) in serviceCategory.list" :key="`service-category-${key}`">
          <p>{{ item.name }}</p>
          <p>{{ item.price }} р.</p>
        </div>
      </div>
    </transition>
  </article>
</template>

<script>
export default {
  name: "ServiceCategory",

  props: {
    serviceCategory: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">

.appearance-enter-active, .appearance-leave-active{
  transition: .1s;
}

.appearance-enter, .appearance-leave-active{
  opacity: 0;
  transform: translateY(-15%);
}

.appearance-enter-to{
  opacity: 1;
  transform: translateY(0);
}

article{
  overflow: hidden;
  margin-bottom: sizeAuto(48);
  width: 50%;
}

.title{
  background: $blue;
  color: #ffffff;
  padding: sizeAuto(24);
  border-radius: 15px;
  cursor: pointer;
  transition: .2s;
  z-index: 2;

  p{
    font-size: sizeAuto(18);
    font-weight: 600;
    @include deselection;
    text-transform: uppercase;
  }

  .icon{
    width: sizeAuto(20);
    position: relative;

    span{
      background: #ffffff;
      width: sizeAuto(15);
      height: 2px;
      transition: .2s;
      position: absolute;
      left: 0;
      top: 0;
    }

    .one{
      transform: rotate(90deg);
    }
  }
}

.body{
  border: 1px solid #ececec;
  border-radius: 15px;
  transition: .2s;
  z-index: 0;

  &-item{
    @include textFont;
    padding: sizeAuto(16);
    transition: .2s;
    border-radius: 15px;

    &:hover{
      background: $blue;
      color: #ffffff;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.active-icon{
  transform: rotate(0) !important;
}

.active-category{
  height: auto !important;
  transform: translateY(0) !important;
}

</style>