<template>
  <div class="flex-column">
    <section class="info flex-column">
      <h2>амбулаторная карта чмони</h2>
      <div class="info-wrap">
        <div class="logo">
          <span></span>
        </div>
        <form class="info-wrap-inner">
          <input type="text" v-model="patData.name" required placeholder="Кличка" class="info-item">
          <input type="text" v-model="patData.breed" required placeholder="Порода" class="info-item">
          <input type="text" v-model="patData.gender" required placeholder="Пол" class="info-item">
          <input type="date" v-model="patData.date" required placeholder="Дата рождения" class="info-item">
        </form>
      </div>
      <button class="btn">
        Сохранить
      </button>
    </section>
    <section class="history">
      <h2>история приёмов</h2>
      <div class="table flex-column">
        <div class="title flex-space-between">
          <div class="title-item">Дата</div>
          <div class="title-item">Анамнез</div>
          <div class="title-item">Диагноз</div>
          <div class="title-item">Лечение</div>
          <div class="title-item">Врач</div>
          <div class="title-item">Сумма оплаты</div>
        </div>
        <div class="body flex-column">
          <div class="flex-space-between td-item">
            <div class="body-item">12.06.2022 15:30</div>
            <div class="body-item">Чрезмерная линька, зуд</div>
            <div class="body-item">Розовый лишай</div>
            <div class="body-item">Крем Триосан, туба 20 гр.</div>
            <div class="body-item">Петров П.П.</div>
            <div class="body-item">800</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "SeparatePet",

  data(){
    return{
      petId: this.$route.params.id,
      patData: {
        name: '',
        breed: '',
        gender: '',
        date: ''
      }
    }
  },

  created() {
    if(!this.petId) {
      this.$router.push({path: '/user/pet/1'})
      this.petId = 1
    }
  },
}
</script>

<style scoped lang="scss">

h2{
  @include titleFont;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: sizeAuto(32);
  color: $blue;
}

.table{
  .title{
    border-bottom: 2px solid #172E68;
    padding: sizeAuto(16) 0;
    text-align: center;

    &-item{
      width: calc(100% / 6);
      font-size: sizeAuto(20);
      font-weight: 600;
      color: #172E68;
    }
  }

  .body{
    text-align: center;
    @include textFont;
    font-size: sizeAuto(16);

    .td-item{
      padding: sizeAuto(16) 0;
      border-bottom: 1px solid #cfcfcf;
      cursor: pointer;

      &:hover{
        background: #efefef;
      }
    }

    &-item{
      width: calc(100% / 6);
    }
  }
}

.btn{
  @include textFont;
  text-align: right;
  margin: sizeAuto(32) auto 0 auto;
  padding: sizeAuto(10) sizeAuto(20);
  border: 1px solid $black;
  background: none;
  cursor: pointer;
  border-radius: 15px;
  transition: .2s;

  &:hover{
    border-color: $blue;
    color: #fff;
    background: $blue;
  }
}

section{
  margin-bottom: sizeAuto(100);

  &:last-child{
    margin-bottom: 0;
  }

  .info-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-inner{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input{
        width: 45%;
        margin: sizeAuto(16) 0;
        padding: sizeAuto(8) sizeAuto(16);
        border: 1px solid $black;
        color: $blue;
        border-radius: 10px;
        font-size: sizeAuto(18);
        transition: .2s;

        &:focus{
          border-color: $blue;
        }

        &::placeholder{
          color: $blue;
        }
      }
    }

    .logo{
      width: sizeAuto(155);
      height: sizeAuto(155);
      border-radius: 50%;
      margin-bottom: sizeAuto(40);
      position: relative;

      span{
        background: $blue;
      }
      span, img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
      }
    }
  }
}

</style>