<template>
  <form>
    <div class="user flex-space-between">
      <div class="photo ">
        <div class="background"></div>
      </div>
      <div class="info flex-column">
        <div class="info-item">
          Имя: <input v-model="name" type="text" placeholder="Введите имя" required>
        </div>
        <div class="info-item">
          Фамилия: <input v-model="surname" type="text" placeholder="Введите фамилию" required>
        </div>
        <div class="info-item">
          Отчество: <input v-model="mid_name" type="text" placeholder="Введите отчество">
        </div>
        <div class="info-item">
          E-mail: <input v-model="email" type="email" placeholder="Введите e-mail" required>
        </div>
        <div class="info-item">
          Номер телефона: <input v-model="telephone" type="tel" placeholder="Введите номер телефона" required>
        </div>
        <div class="info-item">
          Адрес: <input v-model="address" type="text" placeholder="Введите адрес" required>
        </div>
      </div>
    </div>
    <button type="submit" class="edit">Сохранить</button>
  </form>
</template>

<script>
export default {
  name: "UserEdit",
  data() {
    return {
      name: '',
      surname: '',
      mid_name: '',
      email: '',
      telephone: '',
      address: '',
    }
  },
}
</script>

<style scoped lang="scss">


.user {
  align-items: flex-start;
  margin-bottom: sizeAuto(32);

  .photo {
    width: 20%;

    .background {
      width: sizeAuto(200);
      height: sizeAuto(200);
      background: $blue;
      border-radius: 50%;
    }
  }

  .info {
    width: 70%;
  }
}

.info-item {
  @include textFont;
  margin-bottom: sizeAuto(16);
  display: flex;
  align-items: center;

  input {
    margin-left: sizeAuto(8);
    width: sizeAuto(300);
    padding: sizeAuto(5) sizeAuto(10);
  }
}

.edit {
  background: none;
  cursor: pointer;
  @include textFont;
  transition: .2s;
  border: 1px solid $black;
  padding: sizeAuto(10) sizeAuto(20);
  border-radius: 15px;

  &:hover {
    color: #fff;
    background: $blue;
    border-color: $blue;
  }
}

</style>