<template>
  <article>
    <h2>Личные данные клиента</h2>
    <div class="user flex-space-between">
      <div class="photo ">
        <div class="background"></div>
      </div>
      <div class="info flex-column">
        <span class="info-item">Имя: </span>
        <span class="info-item">Фамилия: </span>
        <span class="info-item">Отчество: </span>
        <span class="info-item">E-mail: </span>
        <span class="info-item">Номер телефона: </span>
        <span class="info-item">Адрес: </span>
      </div>
    </div>
    <router-link :to="{name: 'UserEdit'}" class="edit">Редактировать</router-link>
  </article>
</template>

<script>
export default {
  name: "UserInfo"
}
</script>

<style scoped lang="scss">

.user{
  align-items: flex-start;
  margin-bottom: sizeAuto(32);
  .photo{
    width: 20%;
    .background{
      width: sizeAuto(200);
      height: sizeAuto(200);
      background: $blue;
      border-radius: 50%;
    }
  }

  .info{
    width: 70%;
  }
}

h2{
  text-align: center;
  @include titleFont;
  margin-bottom: sizeAuto(32);
  color: $blue;
}

.info-item{
  @include textFont;
  margin-bottom: sizeAuto(16);
}

.edit{
  cursor: pointer;
  @include textFont;
  transition: .2s;

  &:hover{
    color: $blue;
  }
}

</style>