<template>
  <article>
    <h2>Запись на приём</h2>
    <form class="flex-column">
      <div class="item">
        <p>Выберите питомца</p>
        <select name="pet" id="pet">
          <option value="pet-0">Выберите питомца</option>
        </select>
      </div>
      <div class="item">
        <p>Выберите доктора</p>
        <select name="doc" id="doc">
          <option value="doc-0">Выберите доктора</option>
        </select>
      </div>
      <div class="item">
        <p>Выберите дату и время</p>
        <input type="datetime-local" required>
      </div>
      <button type="submit">Записаться</button>
    </form>
  </article>
</template>

<script>
export default {
  name: "UserAnAppointment"
}
</script>

<style scoped lang="scss">

h2{
  text-align: center;
  @include titleFont;
  margin-bottom: sizeAuto(32);
  color: $blue;
}

form{
  align-items: center;

  button{
    @include textFont;
    background: none;
    margin: sizeAuto(16) 0;
    padding: sizeAuto(10) sizeAuto(20);
    border: 1px solid $black;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;

    &:hover{
      color: #ffffff;
      background: $blue;
      border-color: $blue;
    }
  }

  .item{
    margin: sizeAuto(32) 0;

    p {
      @include textFont;
      margin-bottom: sizeAuto(8);
    }

    select, input{
      background: none;
      min-width: sizeAuto(400);
      border: 1px solid $black;
      padding: sizeAuto(8);
      @include textFont;
    }
  }
}



</style>