<template>
  <article>
    <h2>История приёмов</h2>
    <div class="table flex-column">
      <div class="title flex-space-between">
        <div class="title-item">Питомец</div>
        <div class="title-item">Доктор</div>
        <div class="title-item">Дата</div>
        <div class="title-item">Стоимость</div>
        <div class="title-item">Статус</div>
      </div>
      <div class="body flex-space-between">
        <div class="body-item">Кузя</div>
        <div class="body-item">Петров Пётр</div>
        <div class="body-item">10.06.2022 10:00</div>
        <div class="body-item">975 р.</div>
        <div class="body-item">Завершён</div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: "UserReceptionHistory"
}
</script>

<style scoped lang="scss">


h2{
  @include titleFont;
  text-align: center;
  margin-bottom: sizeAuto(32);
  color: $blue;
}

.table{
  .title{
    border-bottom: 2px solid #172E68;
    padding: sizeAuto(16) 0;
    text-align: center;

    &-item{
      font-size: sizeAuto(24);
      font-weight: 600;
      color: #172E68;
      width: 20%;
    }
  }

  .body{
    padding: sizeAuto(16) sizeAuto(8);
    text-align: center;
    @include textFont;
    border-bottom: 1px solid #cfcfcf;

    &:hover{
      background: #efefef;
    }

    &-item{
      width: 20%;
    }
  }
}


</style>