<template>
  <div class="wrapper">
    <nav class="flex-column">
      <router-link :to="{name: 'UserInfo'}" class="nav-link" active-class="active-link">ЛИЧНЫЕ ДАННЫЕ</router-link>
      <router-link :to="{name: 'UserPets'}" class="nav-link" active-class="active-link">ВАШИ ПИТОМЦЫ</router-link>
      <router-link :to="{name: 'UserAssignedReception'}" class="nav-link" active-class="active-link">НАЗНАЧЕННЫЕ ПРИЁМЫ</router-link>
      <router-link :to="{name: 'UserReceptionHistory'}" class="nav-link" active-class="active-link">ИСТОРИЯ ПРИЁМОВ</router-link>
      <router-link :to="{name: 'UserAnAppointment'}" class="nav-link" active-class="active-link">Записаться на ПРИЁМ</router-link>
    </nav>
    <section>
      <transition name="show">
        <router-view/>
      </transition>
    </section>
  </div>
</template>

<script>

export default {
  name: "UserIndex",

  mounted() {
    if (this.$route.name === 'User') this.$router.push({name: "UserInfo"})
  }
}

</script>

<style scoped lang="scss">

.show-enter-active, .show-leave-active{
  transition: .15s;
}

.show-enter, .show-leave-active{
  opacity: 0;
}

.show-enter-to{
  opacity: 1;
}

.show-leave-to{
  display: none;
}


.wrapper{
  display: flex;
  justify-content: space-between;
  padding: sizeAuto(48) 0;

  .nav-link{
    @include textFont;
    text-transform: uppercase;
    margin-bottom: sizeAuto(24);
    cursor: pointer;
    transition: .2s;

    &:hover{
      color: $blue;
    }
  }

  .active-link{
    color: $blue;
  }

  section{
    box-shadow: 0 0 15px #cfcfcf;
    width: 80%;
    padding: sizeAuto(16);
  }
}

</style>