<template>
  <article class="flex-column">
    <h2>Список питомцев</h2>
    <div class="table flex-column">
      <div class="title flex-space-between">
        <div class="title-item">Кличка</div>
        <div class="title-item">Вид</div>
        <div class="title-item">Пол</div>
        <div class="title-item">День рождения</div>
        <div class="title-item"></div>
      </div>
      <div class="body flex-column">
        <router-link :to="{path: '/user/pet/1'}" class="flex-space-between td-item">
          <div class="body-item">Мурка</div>
          <div class="body-item">Кошка</div>
          <div class="body-item">Ж</div>
          <div class="body-item">22.01.2019</div>
          <div class="body-item del">Удалить</div>
        </router-link>
        <router-link :to="{path: '/user/pet/1'}" class="flex-space-between td-item">
          <div class="body-item">Мурка</div>
          <div class="body-item">Кошка</div>
          <div class="body-item">Ж</div>
          <div class="body-item">22.01.2019</div>
          <div class="body-item del">Удалить</div>
        </router-link>
        <router-link :to="{path: '/user/pet/1'}" class="flex-space-between td-item">
        <div class="body-item">Мурка</div>
          <div class="body-item">Кошка</div>
          <div class="body-item">Ж</div>
          <div class="body-item">22.01.2019</div>
          <div class="body-item del">Удалить</div>
        </router-link>
        <router-link :to="{path: '/user/pet/1'}" class="flex-space-between td-item">
        <div class="body-item">Мурка</div>
          <div class="body-item">Кошка</div>
          <div class="body-item">Ж</div>
          <div class="body-item">22.01.2019</div>
          <div class="body-item del">Удалить</div>
        </router-link>
      </div>
    </div>
    <div class="btn">
      Добавить животное
    </div>
  </article>
</template>

<script>
export default {
  name: "UserPets"
}
</script>

<style scoped lang="scss">

h2 {
  @include titleFont;
  text-align: center;
  margin-bottom: sizeAuto(32);
  color: $blue;
}

.table {
  .title {
    border-bottom: 2px solid #172E68;
    padding: sizeAuto(16) 0;
    text-align: center;

    &-item {
      width: 20%;
      font-size: sizeAuto(24);
      font-weight: 600;
      color: #172E68;
    }
  }

  .body {
    text-align: center;
    @include textFont;

    .td-item {
      padding: sizeAuto(16) 0;
      border-bottom: 1px solid #cfcfcf;
      cursor: pointer;

      &:hover {
        background: #efefef;
      }
    }

    &-item {
      width: 20%;
    }

    &-item.del {
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.btn {
  @include textFont;
  text-align: right;
  margin: sizeAuto(32) 0 0 auto;
  padding: sizeAuto(10) sizeAuto(20);
  border: 1px solid $black;
  background: none;
  cursor: pointer;
  border-radius: 15px;
  transition: .2s;

  &:hover {
    border-color: $blue;
    color: #fff;
    background: $blue;
  }
}

</style>