<template>
  <div id="veterinary">
    <main-header/>
    <main class="container">
      <transition name="fade">
        <router-view/>
      </transition>
    </main>
  </div>
</template>

<script>
import MainHeader from "@/components/MainHeader";

export default {
  name: "App",

  components: {
    MainHeader
  },
}

</script>

<style lang="scss">

#veterinary{
  width: 100%;
  height: 100%;
}

</style>
