@use "sass:math";

/* ========== Variables, Functions, Mixins ========== */

$width: 1920;
$black: #3B3B3B;
$blue: #60A0FF;

@function sizeAuto($size){
  @return math.div($size, $width) * 100rem;
}

@mixin deselection{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin titleFont{
  font-size: sizeAuto(40);
  line-height: sizeAuto(49);
  font-weight: 600;
  color: $black;
}

@mixin textFont{
  font-size: sizeAuto(20);
  line-height: sizeAuto(24);
  font-weight: 500;
  color: $black;
}


/* ========== Classes ========== */

.container {
  width: 85%;
  margin: 0 auto;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-align-center{
  display: flex;
  align-items: center;
}

.flex-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ========== VUE Classes ========== */

.fade-enter-active, .fade-leave-active{
  transition: .15s;
}

.fade-enter, .fade-leave-active{
  opacity: 0;
}

.fade-enter-to{
  opacity: 1;
}


/* ========== Animations ========== */


@keyframes show {
  0%{
    opacity: 0;
    transform: translateY(-10%);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

