@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 22px;
  }

  &::selection{
    background: #b3d4fc;
  }
}

html, body{
  width: 100%;
  height: 100%;
}

html {
  font-size: 1vw;
}

a, select, input, textarea, button, svg{
  outline: none;
}

select, button, label, input[type = checkbox]{
  cursor: pointer;
}

a{
  text-decoration: none;
}
