<template>
  <section>
    <h2>Назначенные приёмы</h2>
    <div class="table flex-column">
      <div class="title flex-space-between">
        <div class="title-item">Животное</div>
        <div class="title-item">Дата</div>
        <div class="title-item">Врач</div>
        <div class="title-item">Клиент</div>
        <div class="title-item"></div>
      </div>
      <div class="body flex-space-between">
        <div class="body-item">Кузьма</div>
        <div class="body-item">14.06.2022</div>
        <div class="body-item">Петров П.П.</div>
        <div class="body-item">Имя Фамилия</div>
        <router-link :to="{name: 'DoctorReception'}" class="body-item link">Провести прием</router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "DoctorIndex"
}
</script>

<style scoped lang="scss">

h2{
  @include titleFont;
  text-align: center;
  margin-bottom: sizeAuto(32);
  color: $blue;
}

.table{
  .title{
    border-bottom: 2px solid #172E68;
    padding: sizeAuto(16) 0;
    text-align: center;

    &-item{
      width: 20%;
      font-size: sizeAuto(24);
      font-weight: 600;
      color: #172E68;
    }
  }

  .body{
    padding: sizeAuto(16) 0;
    justify-content: space-between;
    text-align: center;
    @include textFont;
    border-bottom: 1px solid #cfcfcf;

    &:hover{
      background: #efefef;
    }

    &-item{
      width: 20%;
    }

    &-item.link{
      color: $blue;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

</style>