<template>
  <section class="flex-column">
    <div class="main-wrap flex-space-between">
      <div class="wrap flex-column">
        <h2>иНФОРМАЦИЯ</h2>
        <div class="info flex-column">
          <div class="info-item">
            <p>кличка</p>
            <input type="text">
          </div>
          <div class="info-item">
            <p>Вид</p>
            <input type="text">
          </div>
          <div class="info-item">
            <p>Порода</p>
            <input type="text">
          </div>
          <div class="info-item">
            <p>дата рождения</p>
            <input type="text">
          </div>
          <div class="info-item">
            <p>Текущий диагноз</p>
            <input type="text">
          </div>
          <div class="info-item">
            <p>хозяин</p>
            <input type="text">
          </div>
          <div class="info-item">
            <p>телефон</p>
            <input type="text">
          </div>
        </div>
      </div>

      <div class="wrap flex-column">
        <h2>Проведение приёма</h2>
        <div class="reception-wrap">
          <div class="flex-align-center">
            <select name="reception" id="reception">
              <option value="reception-0">Выберите вид приёма</option>
            </select>
            <button>Выберите вид приёма</button>
          </div>
          <div class="flex-column reception">
            <div class="reception-item">
              <p>Анамнез</p>
              <input type="text">
            </div>
            <div class="reception-item">
              <p>Диагноз</p>
              <input type="text">
            </div>
            <div class="reception-item">
              <p>Лечение</p>
              <input type="text">
            </div>
          </div>
        </div>
      </div>

      <div class="wrap flex-column">
        <h2>Услуги</h2>
        <div class="services">
          <div class="services-item">
            <label for="test1">test1</label>
            <input type="checkbox" id="test1">
          </div>
          <div class="services-item">
            <label for="test2">test2</label>
            <input type="checkbox" id="test2">
          </div>
          <div class="services-item">
            <label for="test3">test3</label>
            <input type="checkbox" id="test3">
          </div>
        </div>
      </div>
    </div>
    <button class="btn">
      завершить прием
    </button>
  </section>
</template>

<script>
export default {
  name: "DoctorReception"
}
</script>

<style scoped lang="scss">

div.main-wrap {
  align-items: stretch !important;
}

h2 {
  @include titleFont;
  text-transform: uppercase;
  margin-bottom: sizeAuto(32);
}

input, button, select{
  font-size: sizeAuto(18);
  background: none;
  padding: sizeAuto(10) sizeAuto(20);
  border: 1px solid $blue;
  border-radius: 10px;
  color: $blue;
}

.wrap {
  .info-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: sizeAuto(32);

    p{
      @include textFont;
      margin-right: sizeAuto(16);
      text-transform: uppercase;
    }
  }

  .reception-wrap{
    select{
      margin-right: sizeAuto(16);
    }

    div.flex-align-center{
      margin-bottom: sizeAuto(105);
    }

    .reception{
      &-item{
        p{
          @include textFont;
          margin-bottom: sizeAuto(8);
        }
        input{
          width: 100%;
        }
        margin-bottom: sizeAuto(32);
      }
    }
  }

  .services{
    &-item{
      display: flex;
      align-items: center;
      margin-bottom: sizeAuto(32);

      label{
        @include textFont;
        margin-right: sizeAuto(16);
      }

      input{
        width: sizeAuto(20);
        height: sizeAuto(20);
      }
    }
  }
}

.btn{
  margin: 0 auto;
  text-transform: uppercase;
  transition: .2s;

  &:hover{
    background: $blue;
    color: #ffffff;
  }
}

</style>